<span class="thumbnail">
  <%= link_to image_tag(course.thumbnail), courses_path(id: course.id), data: {turbolinks: false} %>
  <h4><%= course.name %></h4>
  <div class="rating">
    <%= rate(course.rate_average).html_safe %>
  </div>
  <p class="line-clamp">
  <%= course.description %>
  </p>
  <hr class="line">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <p class="price">$29,90</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <button class="btn btn-success right" > BUY course </button>
    </div>
  </div>
</span>
