<% (courses.size/Settings.collection_item.to_f).ceil.times do |i| %>
  <div class="item <%= "active" if i == 0 %>">
    <div class="row">
      <% (i * Settings.collection_item).upto (upto_item i, courses.size) do |j| %>
        <div class="col-md-3 col-sm-6">
          <%= render partial: "item", object: courses[j], as: "course" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
