<div class="container ">
  <br/>
  <div class="row">
    <div class="col-md-8 panel-group">
      <%= render "info" %>
    </div>
    <div class="col-md-4">
      <%= render "connect_credit" %>
    </div>
  </div>
</div>
