<% if user_signed_in? %>
  $('.show-cart').html('<%= j render "layouts/show_cart", cart_items: @cart_items, total_price: @total_price %>');
<% else %>
  $('.show-cart-not-login').html('<%= j render "layouts/show_cart_not_login", array_course: @array_course, total_price: @total_price %>');
<% end %>
$('.btn-add-cart-<%= params[:course_id] %>').html('<button class="btn btn-warning" disabled><%= t "cart_items.btn_added" %></button>');
