<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="well well-sm">
      <div class="row">
        <div class="col-xs-12 col-md-6 text-center">
          <h1 class="rating-num" id="rating-average">
            <%= @course.rate_average %>
          </h1>
          <div class="rating">
            <%= rate(@course.rate_average).html_safe %>
          </div>
          <div>
            <span class="glyphicon glyphicon-user"></span>
            <span id="total-quantity-rating"><%= ratings.size %></span> total
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="row rating-desc">
            <%= render partial: "chart_rating", object: ratings, as: "ratings" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
