@import 'colors';

.btn-added {
  float: right;
}

.btn-cart-detail {
  color: $white !important;
}

.cart-index {
  background-color: $white !important;
}

.cart-notice {
  background: $red;
  border-radius: 50%;
  color: $black;
  font-size: 80%;
  font-weight: bold;
  min-width: 20px;
  padding: 2px;
  position: absolute;
  right: 10%;
  top: 10%;
  text-align: center;
}

.img-cart-home {
  width: 30%;
  height: 30%;
}

.img-items-cart {
  width: 100px !important;
  height: 80px !important;
  margin: 0 10px;
}

.many-items {
  max-height: 200px;
  overflow: auto;
}

.price-course {
  text-decoration: line-through;
}
