$black: black;
$blue-moke: #428bca;
$body-gray: #f1f1f1;
$gray-black: #333;
$green: #4B8E4B;
$orange-moke: #e67e22;
$red: red;
$unrate: #bdc3c7;
$white-gray: #dddcd8;
$white-moke: #f7f7f7;
$white-o: #cecece;
$white-a: #aaa;
$white-spray: #777;
$white: #fff;
$gray: #bdbdbd;
$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: rgb(235, 238, 34);
$royal-gray: #f6f9fb;
$azure: #5b9bd1;
$snow: #fafcfd;
$slate-gray: #f1f3fa;
$slate-green: #5a7391;
$slate-blue: #f0f4f7;
$royal-blue: #93a3b5;
$gray-o: #2c56df;
$nobel: #9e9a9a;
