$black: black;
$blue-moke: #428bca;
$body-gray: #f1f1f1;
$gray-black: #333;
$green: #4B8E4B;
$orange-moke: #e67e22;
$red: red;
$unrate: #bdc3c7;
$white-gray: #dddcd8;
$white-moke: #f7f7f7;
$white-o: #cecece;
$white-a: #aaaaaa;
$white-spray: #777777;
$white: #ffffff;
