@import 'colors';

.action-sec{
  position: relative;
  bottom: 0%;
  width:100%;
  float:left;
  background:$gray-black;
  margin-bottom: 0px;
}
.action-box{
  float:left; 
  width:100%; 
  text-align:center;
}
.action-box h2{
  color:$white;
  font-size:20px;
}

.main {
  padding: 16px;
  margin-top: 50px;
}
