@import 'colors';

.action-sec{
  background:$gray-black;
  bottom: 0%;
  float:left;
  margin-bottom: 0px;
  position: relative;
  width:100%;
}
.action-box{
  float:left; 
  text-align:center;
  width:100%; 
}
.action-box h2{
  color:$white;
  font-size:20px;
}

.main {
  margin-top: 50px;
  padding: 16px;
}
