@import 'colors';

.modal-input {
  border: 1px solid;
  border-radius: 20px;
}

.center-attr {
  text-align: center;
}

.modal-padding {
  padding: 15px 80px 15px 80px;
}

.pass-form {
  max-width: 500px;
  margin: 50px auto;

  form {
    margin-bottom: 15px;
    background: $white-moke;
    box-shadow: 0px 2px 2px $black;
    padding: 30px;
  }

  h2 {
    margin: 0 0 15px;
  }

  .form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
  }

  .btn {
    font-size: 15px;
    font-weight: bold;
  }
}

h2.title {
  font-size: 30px;
  font-weight: bold;
  color: $gray;
}

.change-avatar {
  position: relative;
  width: 100%;
   .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
.hidden {
  display: none !important;
}

.change-avatar:hover .image {
  opacity: 0.3;
}

.change-avatar:hover .middle {
  opacity: 1;
}

.circular-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.set_width_video {
  width: 100%;
}
body {
  background: $slate-gray;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: $white;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: $slate-green;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: $azure;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid $slate-blue;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: $royal-blue;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: $snow;
  color: $azure;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: $royal-gray;
  border-left: 2px solid $azure;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: $white;
  min-height: 475px;
}

.profile-userpic {
  text-align: center;
}

.user-info{
  font-size: 15px;
  color: $gray-black;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 10px;
  min-height: 40px;
}

.thumbnail-price {
  float: right;
  font-size: 20px;
  line-height: auto;
}

.thumbnail-rating {
  margin-top: 10px;
}

.section-padding-100-0 {
  padding-top: 25px; }

.single-blog-area {
  position: relative;
  z-index: 1;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px; }
  .single-blog-area img {
    display: block;
    width: 100%;
    border-radius: 6px 6px 0 0; }
  .single-blog-area .blog-content {
    background-color: $white;
    padding: 25px; }
    .single-blog-area .blog-content .blog-headline {
      display: block; }
      .single-blog-area .blog-content .blog-headline h4 {
        margin-bottom: 5px;
        margin-left: -1px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms; }
        .single-blog-area .blog-content .blog-headline h4:hover, .single-blog-area .blog-content .blog-headline h4:focus {
          color: $gray-o; }
    .single-blog-area .blog-content .meta {
      margin-bottom: 15px; }
      .single-blog-area .blog-content .meta span {
        color: rgba(0, 0, 0, 0.4);
        font-size: 5px;
        margin-right: 10px; }
      .single-blog-area .blog-content .meta a {
        color: rgba(0, 0, 0, 0.4);
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        margin-right: 10px; }
        @media only screen and (max-width: 767px) {
          .single-blog-area .blog-content .meta a {
            font-size: 12px; } }
        .single-blog-area .blog-content .meta a:hover {
          color: $black; }
    .single-blog-area .blog-content p {
      margin-bottom: 0; }

#load-more-course {
  margin-top: 20px;
}

.username-header {
  font-size: 20px;
  font-weight: bold;
}

.profile-follow {
  display: inline-block;
  line-height: 55px;
}

.img-user-size {
  max-width: 70px;
  max-height: 70px;
}

.list-group-item.follow-page {
  height:auto;
  min-height:80px;
  margin-bottom: 10px;
}

.btn-follow {
  float: right;
  line-height: 35px;
}
