@import 'colors';

.modal-input {
  border: 1px solid;
  border-radius: 20px;
}

.center-attr {
  text-align: center;
}

.modal-padding {
  padding: 15px 80px 15px 80px;
}

.pass-form {
  max-width: 500px;
  margin: 50px auto;

  form {
    margin-bottom: 15px;
    background: $white-moke;
    box-shadow: 0px 2px 2px $black;
    padding: 30px;
  }

  h2 {
    margin: 0 0 15px;
  }

  .form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
  }

  .btn {        
    font-size: 15px;
    font-weight: bold;
  }
}

h2.title {
  font-size: 30px;
  font-weight: bold;
  color: $gray;
}

.change-avatar {
  position: relative;
  width: 100%;
   .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
    
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
.hidden {
  display: none !important;
}

.change-avatar:hover .image {
  opacity: 0.3;
}

.change-avatar:hover .middle {
  opacity: 1;
}

.circular-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
