<div class="error-message text-left"></div>
<div class="form-group">
  <%= f.text_field :name, class:"form-control", autofocus: true,
    placeholder: t("users.registrations.new.name") %><br>
</div>
<div class="form-group">
  <%= f.email_field :email, class:"form-control",
    placeholder: t("users.registrations.new.email") %><br>
</div>
<div class="form-group">
  <%= f.select :role,
    User.roles.map {|key, value| [key.humanize, key]},
    {}, {class: "form-control"} %>
</div>
