<footer class="footer bg-dark text-white">
  <section class="action-sec">
    <div class="container">
      <div class="action-box text-center">
        <h2>LOL</h2>
        <i class="btn btn-success">ahihi</i>
      </div>
    </div>
  </section>
</footer>
